SMTP_SERVER="smtp.gmail.com"
SMTP_PORT="587"
SENDER_EMAIL=
SENDER_PASSWORD=
APP_BASE_URL="http://127.0.0.1:8000"


REMINDER_ENABLED=true
REMINDER_HOUR=21
REMINDER_MINUTE=00
REMINDER_CHECK_INTERVAL_SECONDS=300

DEBUG_EXPOSE_OTP=false